{% extends "base.html" %}

{% block title %} главная{% endblock %}

{% block page_name %}<h1>Приветствие</h1>{% endblock %}


{% block content %} 
<p><h3><font  face="bookman old style" color="Navy">Привет, привет привет!</font></h3></p>

<p><font size="4" color="Navy" face="bookman old style">
Это мой <s>первый</s> второй сайт.<br>
Тут можно проверить,является ли число простым перейдя по первой ссылке.<br>
Найти НОД двух целых чисел, перейдя по второй ссылке.<br>
А также посмотреть на мой первый сайт, который я написала еще в школе. <br>
Он немного забавный, потому что написан кривовато, да и дизайн у него своеобразный,
но почему бы не увидеть, с чего все начиналось.<br> 
Я специально в нем ничего не меняла, поэтому ссылки назад на эту страницу на нем нет.
</font>
</p>
<p><font size="4" color="Navy" face="bookman old style">Приятного просмотра!</font></p>
{% endblock %}